.ov_modal.ov_dialog {
  z-index: 9999;
}

.ov_panel_set_menu {
  width: 44px;
}


.ov_navigator_info_panel {
  display: none;
}

.ov_sidebar_parameter .ov_sidebar_parameter_toggle.ov_toggle {
  background-color: silver;
  height: 9px;
}

.ov_sidebar_parameter_toggle.ov_toggle.on {
  background-color: white;
}

.ov_sidebar_parameter_toggle.ov_toggle.on .ov_toggle_slider {
  background-color: blue;
  border: 0;
}

.ov_sidebar_parameter_toggle.ov_toggle .ov_toggle_slider {
  width: 10px;
  height: 10px;
}

.ov_panel_set_content.ov_thin_scrollbar .ov_navigator_buttons {
  background-color: #edeced;
}

.stp_viewer .header .title {
  display: none;
}

/* 
.stp_viewer {
  height: 100%;
}

.stp_viewer .toolbar {
  height: 40px;
  overflow: auto;
}

.stp_viewer .main {
  height: calc(100% - 40px);
}

.stp_viewer div.side_bar_container {
  height: 100% !important;
  margin: 0;
}

.stp_viewer div.main_navigator {
  margin: 0;
}

.stp_viewer .main_splitter {
  width: 8px;
}

.stp_viewer div.main_sidebar {
  height: 100% !important;
  margin: 0;
}
  */